/* ==========================================================================
	Media Queries
========================================================================== */


@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/

	.service-list{ margin-bottom:30px;}
	.form{ margin:0 0 0 20px}
	.main-nav{ display:block !important; }
	.map-widget{ width:600px !important; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/

	body{ font-size:13px;}
	p{ line-height:20px ;}
	.header h1{ font-size:46px;}
	.main-nav ul li a{ padding:14px;}
	.small-logo{ padding:0 20px;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.main-section{ padding:70px 0;}
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	.social-link{ margin:0;}

	.main-nav{ display:block !important; }
	.main-nav li a{ padding:8px 15px;}
	.map-widget{ width: 400px !important; }
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/

	body{ font-size:12px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.service-list{ font-size:12px; margin-bottom:20px;}
	.header h1{ font-size:28px;}
	.header{ padding:60px 0;}
	.main-section{ padding:60px 0 70px;}
	.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; flote : none; background:#fff;}
	.main-nav li{ display:block;}
	.main-nav li.small-logo{ display:none;}
	.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
	.main-nav li a:hover{color:#7cc576}
	.res-nav_click{ display:block;}
	.main-section.team{ padding:60px 0 50px;}
	.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contact-info-box span{ line-height:18px;}
	.social-link{ margin-left:30px;}
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking a{ padding:10px 25px; font-size:14px;}
	.main-section.contact{ padding:60px 0 70px}
	.about-me-head{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:100px;}
	.main-section.contact{ background-size:contain;}
	.map-widget{ width: 400px !important; }
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/

	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.social-link{ margin-left:0px;}
	.form{ margin:0}
	.portfolio-box{ max-width:300px !important; width:96.4% !important; margin:0 !important}
	.portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important }
	.map-widget{ width: 350px !important; }
}
