<nav class="main-nav-outer" id="test">
    <div class="container">
        <ul class="main-nav">
            <li><a href="#services">{{ services.name }}</a></li>
            <li><a href="#portfolio">{{ portfolio.name }}</a></li>
            <li class="small-logo"><a href="#header"><img src="{{ page.logo.file.url }}" alt="{{ page.logo.description }}" height="60"></a></li>
            <li><a href="#about-me">{{ about_me.name }}</a></li>
            <li><a href="#contacts">{{ contacts.name }}</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false
        });
    });
</script>
<script type="text/javascript">
    $(window).load(function(){
        $('.main-nav li a').bind('click',function(event){
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 102
            }, 1500,'easeInOutExpo');
            event.preventDefault();
        });
    })
</script>
