<section class="main-section paddind" id="portfolio">
    <div class="container">
        <h2>{{ portfolio.name | safe }}</h2>
        <h6>{{ portfolio.description | safe }}</h6>
    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        {% for item in portfolio.items.all %}
            <div class="portfolio-box">
                <img class="portfolio-image" src="{{ item.file.url }}" alt="{{ item.file.description }}">
            </div>
        {% endfor %}
    </div>
    <div id="portfolio-modal-id" class="portfolio-modal">
        <span class="portfolio-modal-close">&times;</span>
        <img src="" alt="Modal image" class="portfolio-modal-content" id="portfolio-modal-content">
    </div>
</section>
<script type="text/javascript">
    const images = document.querySelectorAll(".portfolio-image");
    const modal = document.getElementById("portfolio-modal-id");
    const modalContent = document.getElementById("portfolio-modal-content");
    const closeBtn = document.querySelector(".portfolio-modal-close");
    images.forEach((image) => {
    image.addEventListener("click", () => {
        modal.style.display = "block";
        console.log(image.src)
        modalContent.src = image.src;
    });
    });
    closeBtn.addEventListener("click", () => {
        modal.style.display = "none";
    });
    window.addEventListener("click", (event) => {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    });
</script>
