<style type="text/css">
    .header{
        text-align: center;
        background: url("{{ start_screen.bg_pattern.file.url }}") left top repeat;
        padding: 280px 0;
    }
</style>
<div style="overflow:hidden;">
    <header class="header" id="header">
        <div class="container">
            <figure class="logo animated fadeInDown delay-02s">
                <img src="{{ start_screen.logo.file.url }}" alt="{{ start_screen.logo.description }}" height="60">
            </figure>
            <h1 class="animated fadeInDown delay-04s"> {{ start_screen.primary_text | safe }} </h1>
            <ul class="we-create animated fadeInUp delay-06s">
                <li> {{ start_screen.secondary_text | safe }} </li>
            </ul>
        </div>
    </header>
</div>
